<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Previews custom template with additional data</a>
  </h2>
  <p>Modal gallery example <b>with custom previews</b>, using an Angular template and custom image-related data.</p>
  <p>This example demonstrates how to use custom image-specific data (here, the date of the picture) to render the previews.</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <button class="btn btn-primary btn-sm" (click)="openModal(334, 0)">Click to open modal gallery id=1 at index=0</button>
  <ng-template #previewsTemplate let-preview="preview" let-defaultTemplate="defaultTemplate">
    <div class="preview-block">
      <div class="preview-date">{{ preview.modal.pictureDate | date }}</div>
      <div class="preview-default">
        <ng-container *ngTemplateOutlet="defaultTemplate" />
      </div>
    </div>
  </ng-template>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <ks-codemirror [content]="codeHtml" [language]="configHtml" />
    <br>
    <h4>Css</h4>
    <ks-codemirror [content]="codeCss" [language]="configCss" />
    <br>
    <h4>Typescript</h4>
    <ks-codemirror [content]="codeTypescript" [language]="configTs" />
  </section>

  <br><br>

  <section>
    <h3>Service inputs</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>id</code></td>
        <td>
          <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
          <div><b class="text-success">Unique id</b></div>
        </td>
      </tr>
      <tr>
        <td><code>images</code></td>
        <td>
          <div><i>Value: </i><code>Image[]</code></div>
          <div><b class="text-success">Array of <code>Image</code> objects</b></div>
        </td>
      </tr>
      <tr>
        <td><code>currentImage</code></td>
        <td>
          <div><i>Value: </i><code>Image</code></div>
          <div><b class="text-success"><code>Image</code> object to show</b></div>
        </td>
      </tr>
      <tr>
        <td><code>libConfig</code></td>
        <td>
          <div><i>Value: </i><code>ModalLibConfig</code></div>
          <div><b class="text-success"><code>ModalLibConfig</code> object to config the library. See below.</b></div>
        </td>
      </tr>
      <tr>
        <td><code>previewsTemplate</code></td>
        <td>
          <div><i>Value: </i><code>TemplateRef&lt;HTMLElement&gt;</code></div>
          <div><b class="text-success">A reference to an Angular template.</b><br>
            This template can take 2 template variables:
            <ul>
              <li><b>let-preview</b>: gives access to the <code>Image</code> associated with the preview</li>
              <li><b>let-defaultTemplate</b>: gives access to the default template used to render the preview;
                helpful if the need is to wrap the preview with additional information.
                Insert the default template with: <code>&lt;ng-container *ngTemplateOutlet="defaultTemplate"&gt;&lt;/ng-container&gt;</code>.
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>ModalLibConfig</h4>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>previewConfig</code></td>
        <td>
          <div><i>Value: </i><code>&#123; visible: true &#125;</code></div>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

</div>
