<div class="container">
  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Plain gallery with image pointer</a>
  </h2>
  <p>Plain gallery with image pointer.</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <div class="my-app-custom-plain-container-row">
    @for (img of images; track img.id; let i = $index) {
      @if (i <= 2) {
        <!-- 2 is a fixed value that I'm using to display only two images -->
        @if (i == 2) {
          <a class="more" (click)="openImageModalRow(205, img)"> +{{ images.length - 2 - 1 }} more </a>
        }
        @if (img.plain && img.plain.img) {
          <img class="my-app-custom-image-row"
               [src]="img.plain.img"
               (click)="openImageModalRow(205, img)"
               [alt]="img.modal.description"/>
        } @else {
          <img class="my-app-custom-image-row"
               [src]="img.modal.img"
               (click)="openImageModalRow(205, img)"
               [alt]="img.modal.description"/>
        }
      }
    }
  </div>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <ks-codemirror [content]="codeHtml" [language]="configHtml" />
    <br>
    <h4>Typescript</h4>
    <ks-codemirror [content]="codeTypescript" [language]="configTs" />
    <br>
    <h4>Style (SCSS)</h4>
    <ks-codemirror [content]="codeScss" [language]="configScss" />
  </section>

  <br><br>

  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input (.html)</th>
        <th>Value (.ts)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>id</code></td>
        <td>
          <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
          <div><b class="text-success">Unique id</b></div>
        </td>
      </tr>
      <tr>
        <td><code>images</code></td>
        <td>
          <div><i>Value: </i><code>Image[]</code></div>
          <div><b class="text-success">Array of <code>Image</code> objects</b></div>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
