<div class="intro-header">
  <div class="container text-center">
    <img [src]="path" alt="@ks89/angular-modal-gallery icon" width="180" height="auto" title="@ks89/angular-modal-gallery"/>
    <h1 class="project-title display-3 white">&#64;ks89/angular-modal-gallery</h1>
    <p class="lead">A feature-rich image gallery library for Angular</p>
    <br>
    <a class="btn-custom" role="button" [routerLink]="['/getting-started']">Getting started</a>&nbsp;&nbsp;&nbsp;<a class="btn-custom" role="button" [routerLink]="['/demo']">Demo</a>
    <br>
    <br>
    <p class="lead">Currently v16</p>
  </div>
</div>
